@charset "utf-8";

header {
   background-color: rgb(149, 255, 163);
   padding: 10px;
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
   border: 10px double rgb(0, 0, 0);
}

caption {
   font-weight: bold;
   margin: 10px;
   background-color: aqua;
   text-align: center;
   border: 5px solid rgb(0, 0, 0);
   font-size: 2em;
}

table {
   border-collapse: collapse;
   border: 20px groove rgb(0, 255, 4);
}

th, td {
   border: 1px solid rgb(0, 0, 0);
   padding: 5px;
   text-align: center;
   vertical-align: top;
}

tbody td {
   background-color: rgb(212, 164, 255);
}

table col#firstCol {
   background-color: rgb(141, 255, 225);
   width: 150px;
}

table col#hourCols {
   width: 75px;
}

table thead {
   background-color: rgb(143, 128, 255);
}

.columns {
   column-count: 3;
   column-gap: 150px;
   column-rule: 5px solid rgb(0, 0, 0);
}
.columns h2 {
   column-span: all;
}